Repository hashicorp/terraform-provider-tfmigrate, pull requests merged in 2025-02, with the labels that each got.

#78 :arrow_up: build: Updated GHA to skip running acceptance test to fix Dependabot PR failure issue
  .github/workflows/test.yml
Labels: github_actions

#80 IND-2152 :construction_worker: build(GHA): Added GHA files to Onboard to CRT
  .copywrite.hcl
  .github/workflows/build.yml
  .release/ci.hcl
  .release/oss-release-metadata.hcl
  .release/security-scan.hcl
  .release/terraform-provider-tfmigrate-artifacts.hcl
Labels: enhancement, dependencies, github_actions

#95 :green_heart: Fixed CHANGELOG.md
  CHANGELOG.md
Labels: documentation, dependencies, github_actions

#98 :bookmark: chore(v1.0.0):updated version, docs and examples for GA release v1.0.0
  CHANGELOG.md
  docs/index.md
  examples/provider-install-verification/main.tf
  examples/provider/provider.tf
  go.mod
  go.sum
  version/VERSION
Labels: documentation
