Repository hashicorp/terraform-provider-tfmigrate, pull requests merged in 2025-05, with the labels that each got.

#122 IND-3268 :green_heart: build(build-systems): Modified build systems for new CRT
  .github/workflows/build.yml
Labels: github_actions

#135 :pushpin: Updated go version to 1.23.8 and fixed relevant vulnerabilities
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .go-version
  go.mod
Labels: dependencies, github_actions

#138 📌 Updated go version to 1.23.8 and fixed relevant vulnerabilities
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .go-version
  go.mod
  go.sum
Labels: dependencies, github_actions

#150 Updated CHANGELOG and VERSION to V1.1.0 from V1.1.0-alpha20250520
  CHANGELOG.md
  version/VERSION
Labels: documentation, release
